.sidebar {
  max-width: 25%;
  margin-right: $mr;
  padding-right: $mr;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  &__logo--page {
    position: relative;
    padding-bottom: $pd-bottom;
    margin-top: 5px;

    a {
      display: block;
      color: $color-gray;
      cursor: pointer;

      i {
        font-size: 35px;
      }

      &:hover {
        color: $color-hover;
      }
    }
    .navbar-toggle {
      display: none;
    }
  }
  @include responsive($SM) {
    padding-right: 20px;
  }
  @include responsivepc($XSX) {
    max-width: 100%;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
    margin-right: 0;
    padding-right: 0;
    &__logo {
      width: 100%;
      &--page {
        padding-bottom: 20px;
        margin-top: 5px;
        display: flex;
        justify-content: space-between;
      }
    }
    .sidebar__nav {
      display: none;
      margin-bottom: 1rem;
    }
    .navbar-toggle {
      display: block;
      width: 40px;
      display: flex;
      padding: 7px 8px;
      font-size: 16px;
      background: transparent;
      border-radius: 0.25rem;
      position: absolute;
      top: 2px;
      right: 0;
      border: 1px solid;
      border-color: $color-focus;
      justify-content: center;
      transition: all .5s;
      &:hover,&:focus {
        color: $color-white;
        background-color: $color-focus;
        border-color: $color-focus;
        transition: all .5s;
      }
    }
  }
}

.nav-dashboard,
.nav-more {
  margin: 0;
  list-style: none;
  padding: 0;
  font-size: inherit;

  &__item {
    font-size: 80%;
    font-weight: inherit;
    letter-spacing: 1px;
    color: $color-gray;
  }

  &__title {
    margin: 0;
    text-transform: uppercase;
    padding-left: $pd;
    padding-right: $pd;
  }

  &__link {
    border-radius: 0.25rem;
    color: $link-color;
    display: block;
    padding: 0.5rem 1rem;
    transition: all .1s;
    cursor: pointer;
    font-size: $font-size;
    letter-spacing: 0;
    &:hover {
      color: $color-white;
      transition: all .1s;
    }
  }

  .active {
    color: $color-white;
    background-color: $color-active;
  }
}

.nav-more {
  margin-top: $pd-bottom;
  padding-bottom: .5rem;
  border-bottom: 1px solid $color-focus;
}