$mr : 40px;
$mar-bottom : 30px;
$pd : 15px;
$pd-top : 6px;
$pd-left : 12px;
$pd-bottom : 20px;
$color-gray : #51586a;
$color-white : #fff;
$color-hover : #6f7890;
$color-focus : #434857;
$color-input : #495057;
$color-place : #6c757d;
$color-green : #59ca8e;
$color-red : #e64759;
$color-gr : #a084fb;
$color-sub : #9198aa;
$color-yellow : #e4d837;
$color-sp : rgba(255, 255, 255, 0.65);
$color-hr : rgba(255, 255, 255, 0.2);
$color-active : #1997c6;
$bd1-color : #71cced;
$box-sh : rgba(25, 151, 198, 0.25);
$font-size : 0.9rem;
$font-weight : 300;
$font-weight1 : 400;
$font-weight2 : 600;
$font-weight3 : 500;
$font-family : Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
$XSX: 767px;
$XS: 768px;   
$SM: 992px;  
$MD: 1024px;   
$XL: 1200px;    