- 
  var topSidebar = [
    {
      item: "Overview",
    },
    {
      item : "Order history",
      active: true
    },
    {
      item : "Fluid layout",
    },
    {
      item :"Icon nav",
    },
  ];
-
  var overSidebar = [
    {
      item : "Toolkit docs",
    },
    {
      item : "Bootstrap docs",
    },
    {
      item: "Light ui",
    },
    {
      item : "Example modal",
    },
  ];
mixin nav()
  ul.nav-dashboard
    h3.nav-dashboard__item.nav-dashboard__title dashboards
    each val in topSidebar
      li.nav-dashboard__item
        a.nav-dashboard__link(class= val.active ? "active" : "")= val.item
  ul.nav-more
    h3.nav-more__item.nav-more__title more
    each val in overSidebar
        li.nav-more__item
          a.nav-more__link= val.item

mixin sidebar()
  .sidebar
    .sidebar__logo
      .sidebar__logo--page
        a(href="#"): i.fas.fa-leaf
      form.form-control(action="#")
        input.form-control__input(placeholder="Search...")
        button.form-control__submit
          i.btn-search.fas.fa-search
    .sidebar__nav
      +nav()
