script(src="./app/nodeModule/Chart.bundle.js")
script(src="./app/nodeModule/Chart.bundle.min.js")
script(src="./app/nodeModule/bootstrap-datepicker.min.js")
link(src="./app/nodeModule/bootstrap-datepicker.min.css")
script(src="./app/js/main.js")