-
  var data1 = [
    {
      name: "united states",
      percent: "62.4"
    },
    {
      name: "india",
      percent: "15.0"
    },
    {
      name: "united kingdom",
      percent: "5.0"
    },
    {
      name: "canada",
      percent: "5.0"
    },
    {
      name: "russia",
      percent: "4.5"
    },
    {
      name : "mexico",
      percent: "2.3"
    },
    {
      name: "spain",
      percent: "1.7"
    },
    {
      name: "france",
      percent: "1.5"
    },
    {
      name: "south africa",
      percent: "1.4"
    },
    {
      name: "japan",
      percent: "1.2",
    },
  ];
-
  var data2 = [
    {
      name: "/(Logged out)",
      percent: "3,929,481"
    },
    {
      name: "/(Logged in)",
      percent: "1,143,393"
    },
    {
      name: "/tuor",
      percent: "938,287"
    },
    {
      name: "/features/something",
      percent: "749,393"
    },
    {
      name: "/features/another-thing",
      percent: "695,912"
    },
    {
      name : "/users/username",
      percent: "501,938"
    },
    {
      name : "/page-title",
      percent: "392,842"
    },
    {
      name: "/some/page-slug",
      percent: "298,183"
    },
    {
      name: "/another/directory/and/page-title",
      percent: "193,129"
    },
    {
      name: "/one-more/page/directory/file-name",
      percent: "93,382"
    },
  ];
-
  var decive = [
    {
      name: "Desktop (1920x1080)",
      count: "3,929,481"
    },
    {
      name: "Desktop (1366x768)",
      count: "3,929,481"
    },
    {
      name: "Desktop (1440x900)",
      count: "3,929,481"
    },
    {
      name: "Desktop (1280x800)",
      count: "3,929,481"
    },
    {
      name: "Tablet (1024x768)",
      count: "3,929,481"
    },
    {
     name: "Tablet (768x1024)",
      count: "3,929,481"
    },
    {
      name: "Phone (320x480)",
      count: "3,929,481"
    },
    {
      name: "Phone (720x450)",
      count: "3,929,481"
    },
    {
      name: "Desktop (2560x1080)",
      count: "3,929,481",
    },
    {
      name: "Desktop (2560x1600)",
      count: "3,929,481"
    },
  ];